amqp==1.4.9
anyjson==0.3.3
astroid==1.6.6
Babel==2.2.0
backports.functools-lru-cache==1.6.6
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.7.0.1
billiard==3.3.0.23
celery==3.1.25
certifi==2021.10.8
chardet==4.0.0
configparser==4.0.2
contextlib2==0.6.0.post1
decorator==4.4.2
Django==1.9.9
enum34==1.1.10
flower==0.8.4
functools32==3.2.3.post2
futures==3.4.0
idna==2.10
importlib-metadata==2.1.3
ipython==5.10.0
ipython-genutils==0.2.0
isort==4.3.21
kombu==3.0.37
lazy-object-proxy==1.6.0
mccabe==0.6.1
pathlib2==2.3.7.post1
pexpect==4.9.0
pickleshare==0.7.5
prompt-toolkit==1.0.18
ptyprocess==0.7.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.5.2
python-dotenv==0.18.0
pytz==2015.7
redis==2.10.6
requests==2.27.1
scandir==1.10.0
simplegeneric==0.8.1
singledispatch==3.7.0
six==1.17.0
toml==0.10.2
tornado==4.2
traitlets==4.3.3
typing==3.10.0.0
unicodecsv==0.14.1
urllib3==1.26.20
wcwidth==0.2.13
wrapt==1.15.0
yapf==0.32.0
zipp==1.2.0
