{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="card">
    <h2 class="text-center">Создать рассылку подписчикам</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateModal">
      <div class="card ms-5 me-5 mb-5 mt-5">
        <p>Введи заголовок</p>
        <p>Email отправителя</p>
        <p>Текст письма</p>
      </div>
    </button>
  </div>

  <!-- modal window -->
  <div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="CreateModalLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- modal header -->
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="CreateModalLabel">Заполните письмо</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- modal body -->
        <div class="modal-body">
          <form id="InputForm" method="post" data-url="{% url 'createmailing:create_order' %}">
            {% csrf_token %}
            {{ form.as_table }}
          </form>
        </div>
        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" form="InputForm" class="btn btn-primary">Create Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}